
.model-form {
  overflow-y: auto;
  height: 100%;
}

.carslist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}

@media  (max-width: 768px)  {
  .carslist {
    display: block;
  }
  .step__content{
    width: 100%;
    margin-top: 20px;
  }
}