$black: #121212;
$green: #0EC261;
$gray:  #999999;
$light-gray: #EEEEEE;
@import '../../../../mixins.scss';

.cars__filters {
    margin-top: 32px;
    margin-left: 20px;
    display: flex;
    width: 40%;
    float: left;
    &__item{
      margin-left: 16px;
    }
   @include additionaly__radio(50%, 10px, 6px, 3px)
  }
  
  @media(min-width:768px){
      .models-filter{
          margin-bottom: 48px;
      }
  }