$black: #121212;
$green: #0EC261;
$gray:  #999999;
$light-gray: #EEEEEE;
@import '../../mixins.scss';

.logo {
    position: static;
    display: flex;
    justify-content: space-between;    
    width: 100%;
    height: 32px;
    margin-top: 34px;
  }
  
  .logo__text {
    position: static;
    width: 192px;
    height: 32px;
    font-family: "Roboto-Bold";
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    color: $green;
  }
  
  .logo__map {
    position: static;
    display: flex;
    align-items: flex-end;
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $gray;
  }

 @include logo_media;