@import "../../../../variavle.scss";

.total {
  width: 65%;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  @media (max-width: 768px) {
    width: 100%;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    float:left;
    @media (max-width: 768px), (max-width: 1024px){
        width: 40%;
      }
  }
  &__model {
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    padding: 4px 8px;
  }
  &__number {
    padding: 4px 8px 2px;
    margin-left: 6px;
    margin-top: 8px;
    border: 1px solid $gray;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 800;
  }
  &__additional {
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    margin-left: 6px;
    &:first-child {        
    font-weight: bold;
    }
  }
}
