$black: #121212;
$green: #0EC261;
$gray:  #999999;
$light-gray: #EEEEEE;
@import '../../../mixins.scss';

.button-standart {
  border:none;
  position: static;
  width: 250px;
  height: 48px;
  left: 0;
  margin-top: 250px;
  background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
  mix-blend-mode: normal;

  .button-standart__text{
    display: block;
    font-family: "Roboto-Bold";
    font-size: 18px;
    line-height: 21px;
   
    color:$light-gray;
  }

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }

  &::after {
    filter: brightness(90%);
  }

  &__disabled{
    opacity: 0.6;
    cursor: not-allowed;
    border:none;
    position: absolute;
    width: 250px;
    height: 48px;
    left: 128px;
    top: 487px;
    background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
    background-blend-mode: darken;
    border-radius: 8px;
    mix-blend-mode: normal;
  }
}
  

@include button_media;