$desktop_min: 1440px;
$tablet: 1024px;
$mobile: 767px;

@mixin logo_media{
  @media (max-width: $mobile) {
    .logo {
      position: static;
      display: block;  
      width: 99%;
      height: 32px;
      margin-top: 16px;
      justify-content:start; 
      &__text{
        margin-right: 16px;
        margin-left: auto;
      }   
      &__map{
        margin-right: 16px;
        margin-left: auto;
        display: block;
        text-align: right;
      }  
    }    
  }    
}

@mixin heroblock-media{
  @media (max-width: $mobile) {
    .hero-block{
      position: relative;
      width: 100%;
      height: 200px;
      top: 20px;

      &__carsharing {
        width: 90%;
        height: 32px;
        margin-left:16px;
        font-size: 32px;   
        margin-top: 0;
      }

      &__drive {
        width: 90%;
        height: 32px;
        margin-left:16px;
        font-size: 32px;
        margin-top: 0;
      }

      &__arenda{
        width: 90%;
        height: 34px;
        font-weight: 300;
        font-size: 18px;
        margin-left:16px;
        margin-top: 30px;
        line-height: 21px;
      }
    }   
  }
}

@mixin footer_media{
  @media (max-width: $tablet) {
    .footer{
      width: 80%;
    }
  }
  
  @media (max-width: $mobile) {
    .footer{
      display: block;  
      justify-content:start;    
      bottom:0;
      width: 100%;
      height: 72px;
      left: 0px;
      background-color:$black;
      &__year{
        position: fixed;
        right: 16px;
        margin-top: 40px;
        text-align: right;
        left: auto;
        width: 100vw;
        font-size: 13px;
        line-height: 15px;
        color:$light-gray;
      }

      &__tel{
        position: fixed;
        margin-right: 0;
        text-align: right;
        right: 16px;
        margin-top:16px;
        width: 100vw;
        font-size: 13px;
        line-height: 15px;
        color: $green;
      }
    }
  }
}

@mixin burgermenu_media{
  @media (max-width: $desktop_min){
    #menu__toggle:checked ~ .menu__box {
      width: 40%;
     }  
  }
  @media (max-width: $tablet){
    #menu__toggle:checked ~ .menu__box {
      width: 100%;
     }  
  }

  @media (max-width: $mobile) {   
    .menu__btn {
      width: 0;
      height: 0;

      & >span,
      & >span::before,
      & >span::after {
        background-color: $black;
      }
      &>span{
        left: 32px;
      top: 32px;
      }

    }
    .menu__box {
      width: 0;
    }
    #menu__toggle:checked ~ .menu__box {
      width: 100%;
      height: 100%;
    }

    #menu__toggle:checked ~ .menu__btn > span {
     &::before{
      z-index: 50;
      background-color: $light-gray;
     }
     &::after{
      z-index: 50;
      background-color: $light-gray;
     }     
    }
  }
}

@mixin button_media{
  @media (max-width: $mobile) {  
    .button-standart {
      width: 100%;
      left:0;
      top: 56,8%;
      border-radius: 0px;
      margin-top:0;
    }
  }
}

@mixin  slider_media{
  @media (max-width: $mobile, $tablet) {
    .slider{
     display: none;
     }
  } 
}

@mixin styles_media{
  @media (max-width: $desktop_min){
    .container__left{
      width: 53.7%;
    }  
  }
  
  @media (max-width: $tablet){
    .container__rigth{
      display: none;
    }  
    .container__left{
      width: 100%;
    }
  }
    
  @media (max-width: $mobile){
    .container__left{
      width: 100%;
      margin-left: 0;
      &__content{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
      }  
    }  
    .container__rigth{
      display: none;
    }
  }
}

@mixin order_media{
  @media (max-width: $mobile){
    .container{
      height: auto;
      &__full{
      margin-left: 0;      
      height: auto;
      &__content{
        width: 100%;
      }
    }
  }
  }
}

@mixin result_media{
    @media (max-width: 768px) {
      .result {
        width: 100%;
        float:initial;
        margin-bottom: 0;   
        &__title{
          text-align: left;
        }
      }
      
    }
  }

@mixin container_step{
  .container__step{
    margin-top: 27px; 
    margin-left: 80px;   
    width: 90%;
  }
}

@mixin additionaly__radio(
  $radius,
  $width-height,
  $width-height-before,
  $border-width-before
) {
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 5%;
    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      &::before {
        content: "";
        display: block;
        width: $width-height;
        height: $width-height;
        border: 1px solid $gray;
        border-radius: $radius;
        margin-right: 0.5em;
        background-size: 50% 50%;
      }
    }
    &:checked + label {
      color: black;
      &::before {
        border: $border-width-before solid $green;
        width: $width-height-before;
        height: $width-height-before;
      }
    }
    &:not(:disabled):not(:checked) + label:hover {
      color: black;
      &::before {
        border-color: $light-gray;
      }
    }
  }
}

@mixin additionaly__point {
  margin-top: 20px;
  &__title {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 20px;
    font-weight: 300;
    
  }
  &__item {
    padding-bottom: 14px;
    color: $gray;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
  }
}