$black: #121212;
$green: #0EC261;
$gray:  #999999;
$light-gray: #EEEEEE;

@font-face { 
  font-family: 'Roboto-Medium'; 
  src: url('./fonts/Roboto-Medium.ttf');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Roboto-Bold'; 
  src: url('./fonts/Roboto-Bold.ttf');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Roboto-Regular'; 
  src: url('./fonts/Roboto-Regular.ttf');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Roboto-Light'; 
  src: url('./fonts/Roboto-Light.ttf');
  font-weight: normal; 
  font-style: normal; 
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

body{
  height: 100vh;
}
#app {
  min-width: 320px;
  height: 100vh;
}
.container{
  
  height: 100vh;
}
.container__left {
  position: static;
  display: block;
  float: left;
  margin-left: 64px;
  width: 46.5%;
  height: 100%;
}

.container__rigth{
  position:static;
  display: flex;
  flex: 1;
  height: 100%;
} 

.container__left__content {
  display: flex;
  flex-direction: column;
  position: relative;  
  width: 81.4%;
  margin: auto;
  height: auto;
}


@media (max-width: 1440px){
  .container__left{
    width: 53.7%;
  }  
}


@media (max-width: 1024px){
  .container__rigth{
    display: none;
  }  
  .container__left{
    width: 100%;
  }
}
  
@media (max-width: 767px){
  .container__left{
    width: 100%;
    margin-left: 0;

  }  
  .container__left__content{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .container__rigth{
    display: none;
  }
}







